.progress-bar {
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    text-align: end;
    padding: 2px 5px;
    font-size: 12px;
  }
  .progress-bar p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: #C6C7F8;
  }